<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" href="css/main.css" th:href="@{/css/main.css}">
    <link rel="stylesheet" href="css/pagination.css" th:href="@{/css/pagination.css}">
    <style>
        .tree li {
            list-style-type: none;
            cursor: pointer;
        }

        table tbody tr:nth-child(odd) {
            background: #F4F4F4;
        }

        table tbody td:nth-child(even) {
            color: #0C0C0C;
        }
    </style>
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li style="padding-top:8px;">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-success dropdown-toggle"
                                data-toggle="dropdown">
                            <i></i><span id="username"></span><span class="caret" ></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li class="divider"></li>
                            <li><a href="/casc/logout"><i></i> 退出系统</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <div class="tree">
                <ul style="padding-left:0px;" class="list-group">
                    <li class="list-group-item tree-closed">
                        <span><i></i> 城市排名 <span class="badge" style="float:right">3</span></span>
                        <ul style="margin-top:10px;display:none;">
                            <li style="height:30px;">
                                <a href="/casc/cityRanking/countyRanking"><i></i> 区县排名</a>
                            </li>
                            <li style="height:30px;">
                                <a href="/casc/cityRanking/provinceCity"><i></i> 全省城市排名</a>
                            </li>
                            <li style="height:30px;">
                                <a href="/casc/cityRanking/nationalCity"><i></i>全国城市排名</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i></i> 数据列表 — 全省城市排名</h3>
                </div>
                <div class="panel-body">
                    <form class="form-inline" role="form" style="float:left;">
                        <div class="form-group has-feedback">
                            <div class="input-group">
                                <div class="input-group-addon">查询条件</div>
                                <input id="queryText" class="form-control has-success" type="text"
                                       placeholder="可根据城市名称查询">
                            </div>
                        </div>
                        <button type="button" class="btn btn-warning" onclick="queryByText()">查询
                        </button>
                    </form>
                    <br>
                    <hr style="clear:both;">
                    <div class="table-responsive">
                        <table class="table  table-bordered">
                            <thead>
                            <tr>
                                <td>排名</td>
                                <td>城市</td>
                                <td>综合指数</td>
                                <td>AQI</td>
                                <td>PM₂.₅(μg/m3)</td>
                                <td>PM₁₀(μg/m3)</td>
                                <td>SO₂(μg/m3)</td>
                                <td>NO₂(μg/m3)</td>
                                <td>CO(mg/m3)</td>
                                <td>O₃_8H(μg/m3)</td>
                                <td>O₃(μg/m3)</td>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="11" align="center">
                                    <div id="Pagination" class="pagination"></div>
                                </td>

                            </tr>

                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="jquery/jquery-2.1.1.min.js" th:src="@{/jquery/jquery-2.1.1.min.js}"></script>
<script src="jquery/jquery.pagination.js" th:src="@{/jquery/jquery.pagination.js}"></script>
<script src="bootstrap/js/bootstrap.min.js" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script src="jquery/jquery-form.min.js" th:src="@{/jquery/jquery-form.min.js}"></script>
<script type="text/javascript">
    $(function () {
        $(".list-group-item").click(function () {
            if ($(this).find("ul")) {
                $(this).toggleClass("tree-closed");
                if ($(this).hasClass("tree-closed")) {
                    $("ul", this).hide("fast");
                } else {
                    $("ul", this).show("fast");
                }
            }
        });
        queryPage(0);
    });
    var pageno = 1;
    function queryPage(pageIndex) {
        pageno = pageIndex + 1;
        var queryText = $('#queryText').val();
        $.ajax({
            type: "POST",
            url: "/cityRanking/provinceCity/queryPage",
            data: {
                pageno: pageno,
                pagesize: 6,
                queryText: queryText
            },
            beforeSend: function () {
                return true;
            },
            dataType: "json",
            success: function (result) {
                var username = result.username;
                document.getElementById("username").innerText = username;
                if (result.success == "true") {
                    //局部刷新
                    var data = result.data;
                    let content = '';
                    var pageTotalsize = result.pageTotalsize;
                    var pagePageno = result.pagePageno;
                    var pagePagesize = result.pagePagesize;
                    var startindex = result.startindex;
                    var totalno = result.totalno;
                    $.each(JSON.parse(data), function (i, e) {
                        content += '<tr>';
                        content += '<td>' + (i + 1) + '</td>';
                        content += '<td>' + e.cityname + '</td>';
                        content += '<td>' + e.composite + '</td>';
                        content += '<td>' + e.aQI + '</td>';
                        content += '<td>' + e.pM2_5 + '</td>';
                        content += '<td>' + e.pM_10 + '</td>';
                        content += '<td>' + e.sO2 + '</td>';
                        content += '<td>' + e.sO2 + '</td>';
                        content += '<td>' + e.cO + '</td>';
                        content += '<td>' + e.o3_8H + '</td>';
                        content += '<td>' + e.o3 + '</td>';
                        content += '</tr>';
                    });
                    $("tbody").html(content);
                    $("#Pagination").pagination(pageTotalsize, {
                        num_edge_entries: 1, //边缘页数
                        num_display_entries: 4, //主体页数
                        callback: queryPage,
                        items_per_page: pagePagesize, //每页显示多少项
                        prev_text: "上一页",
                        next_text: "下一页",
                        current_page: pagePageno-1  //分页插件第一页是从索引0开始。
                    });

                } else {
                    layer.msg("加载数据失败!", {time: 1000, icon: 5, shift: 6});
                }
            }
        });
    }
    function queryByText(){
        queryPage(0);
    }
</script>
</body>
</html>
