<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="../img/favicon.ico" />
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>中科环境大气监测数据平台</title>
    <style type="text/css">
        html{           /* 解决页面会出现双滚动条问题。overflow: hidden; 溢出隐藏，给一个元素中设置overflow: hidden，那么该元素的内容若超出了给定的宽度和高度属性，那么超出的部分将会被隐藏，不占位。 */
            overflow: hidden;
        }
        body{           /* 解决页面上下左右会出现空白问题。让外框的外边距和内边距都为0 */
            margin: 0;
            padding: 0;
        }
        #iframepage{
            width: 100%;
        }
    </style>
</head>
<body>
<iframe src="https://v.yuntus.com/cloudv/66ec5cb104d4a61156b8746af7e9781d" id="iframepage" scrolling="auto" onload="changeFrameHeight()" frameborder="0"></iframe>
<!-- 以下JS部分是让iframe自适应高度，兼容多种浏览器 -->
<script type="text/javascript">
    function changeFrameHeight(){
        var ifm= document.getElementById("iframepage");
        ifm.height=document.documentElement.clientHeight;
    }
    window.onresize=function(){
        changeFrameHeight();
    }
</script>
</body>
</html>